/* Making the variable color to be use globally in css called root pseudo */
:root {
    --primary: #EA40A4;
    --work: #3A82EE;
    --personal: var(--primary);
    --light: #EEE;
    --grey: #888;
    --dark: #313154;
    --danger: #ff5b57;

    --shadow: 0 1px 3px rgba(0, 0, 0, 0.1);

    --work-glow: 0px 0px 4px rgba(58, 130, 238, 0.75);
    --personal-glow: 0px 0px 4px rgba(234, 64, 164, 0.75);
}

/* Universal selector to help ensure the consistent layout across the page */
* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'montserrat', sans-serif;
}

/* Changing the the other input excluded the radio and checkbox */
input:not([type="radio"]):not([type="checkbox"]), button {
    appearance: none;
    border: none;
    outline: none;
    background: none;
    cursor: initial;
}

body {
    background: var(--light);
    color: var(--dark);
}

section {
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

h3 {
    color: var(--dark);
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 0.5rem;
}

h4 {
    color: var(--grey);
    font-size: 0.875rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.greeting .title {
    display: flex;
}

.greeting .title input {
    margin-left: 0.5;
    flex: 1 1 0%;
    min-width: 0;
}

.greeting .title,
.greeting .title input {
    color: var(--dark);
    font-size: 1.5rem;
    font-weight: 700;
}

/* Styling the create todo input type text */

.create-todo input[type="text"] {
    display: block;
    width: 100%;
    font-size: 1.125rem;
    padding: 1rem 1.5rem;
    color: var(--dark);
    background-color: #fff;
    border-radius: 0.5rem;
    box-shadow: var(--shadow);
    margin-bottom: 1.5rem;
}

/* Styling div options  */
.create-todo .options {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    margin-bottom: 1.5rem;
}

.create-todo .options label {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    background-color: #fff;
    border-radius: 0.5rem;
    box-shadow: var(--shadow);
    cursor: pointer;
}

/* to hide the default styling because creating own style */
input[type="radio"], input[type="checkbox"] {
    display: none;
}

/* Radio button styling */
.bubble {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid var(--work);
    box-shadow: var(--work-glow);
}

.bubble.personal {
    border-color: var(--personal);
    box-shadow: var(--personal-glow)
}

.bubble::after {
    content: "";
    display: block;
    opacity: 0;
    width: 0px;
    height: 0px;
    background-color: var(--work);
    box-shadow: var(--work-glow);
    border-radius: 50%;
    transition: 0.2s ease-in-out;
}

.bubble.personal::after {
    background-color: var(--personal);
    box-shadow: var(--personal-glow);
}

/* both sibling after and before checked referencing each other ~ */

input:checked ~ .bubble::after {
    width: 10px;
    height: 10px;
    opacity: 1;
}

.create-todo .options label div {
    color: var(--dark);
    font-size: 1.125rem;
    margin-top: 1rem;
}

/* Styling the input submit form called value Add todo */

.create-todo input[type="submit"] {
    display: block;
    width: 100%;
    font-size: 1.125rem;
    padding: 1rem 1.5rem;
    color: #FFF;
    background-color: var(--primary);
    border-radius: 0.5rem;
    box-shadow: var(--personal-glow);
    cursor: pointer;
    transition: 0.2 ease-in-out;
}


.create-todo input[type="submit"]:hover {
    opacity: 0.75;
}

/* Styling the todo list display */

.todo-list .list {
    margin: 1rem 0;
}

.todo-list .todo-item {
    display: flex;
    align-items: center;
    background-color: #FFFF;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: var(--shadow);
}

.todo-item label {
    display: block;
    margin-right: 0.25rem;
    cursor: pointer;
}

.todo-item .todo-content {
    flex: 1 1 0%
}

.todo-item .todo-content input {
    width: 50%;
    color: var(--dark);
    font-size: 1.125rem;
}

.todo-item .actions {
    display: flex;
    align-items: center;
}

/* Edit and Delete button styling */

.todo-item .actions button {
    display: flex;
    padding: 0.5rem;
    border-radius: 0.25rem;
    color: #FFF;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.todo-item .actions button:hover {
    opacity: 0.75;
}

.todo-item .actions .edit {
    margin-right: 0.5rem;
    background-color: var(--primary);
}

.todo-item .actions .delete {
    margin-right: 1rem;
    background-color: var(--danger);
}

/* after done checked clicking on radio button */

.todo-item.done .todo-content input {
    text-decoration: line-through;
    color: var(--grey);
}